{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if content %}
    <div class="user-block-contact phone">
      <i class="fas fa-phone"></i>
      {{ content.field_telephone }}
    </div>
    <div class="user-block-contact email">
      <i class="fas fa-envelope"></i>
      {{ content.field_email }}
    </div>
    <div class="user-block-contact residence">
      <i class="fas fa-map-marked-alt"></i>
      {{ content.field_residence }}
    </div>
    {{- content|without('field_telephone', 'field_email', 'field_residence') -}}
  {% endif %}
</article>
